<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义日志输出的格式 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 定义日志输出的模式 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义日志级别和关联的日志输出 -->
    <!-- 使用系统属性 log.level，如果未设置则默认为 INFO -->
    <root level="${log.level:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 可以为特定的包或类设置不同的日志级别 -->
    <!-- 同样使用系统属性，允许覆盖特定包的日志级别 -->
    <logger name="livonia.connector.http" level="${log.level:-INFO}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>
