<?xml version="1.0" encoding="UTF-8"?>
<Server shutdownPort="8005" shutdownCommand="SHUTDOWN">
    <Service name="testService">
        <Connector port="8080" protocol="HTTP/1.1"/>
        <Engine name="testEngine" defaultHostName="localhost">
            <Host name="localhost" appBase="server/webapps">
                <Context path="/testServlet" basePath="testServlet"/>
            </Host>
        </Engine>
    </Service>
</Server>

